---
http_interactions:
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?env=store://datatables.org/alltableswithkeys&format=json&q=select%20symbol,%20Ask,%20Bid%20from%20yahoo.finance.quotes%20where%20symbol%20in%20(%22%5B%22BP.L%22,%20%22BLT.L%22%5D%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Yql-Host:
      - engine1.yql.ird.yahoo.com
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"error":{"lang":"en-US","description":"Query syntax error(s) [line
        1:63 mismatched input ''in'' expecting ISNOTNULL]"}}'
  recorded_at: Wed, 20 Jun 2012 14:51:31 GMT
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?env=store://datatables.org/alltableswithkeys&format=json&q=select%20symbol,%20Ask,%20Bid%20from%20yahoo.finance.quotes%20where%20symbol%20in%20(%5B%22BP.L%22,%20%22BLT.L%22%5D)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Yql-Host:
      - engine2.yql.ird.yahoo.com
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"error":{"lang":"en-US","description":"Query syntax error(s) [line
        1:67 no viable alternative at character ''['',line 1:83 no viable alternative
        at character '']'']"}}'
  recorded_at: Wed, 20 Jun 2012 14:54:55 GMT
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?env=store://datatables.org/alltableswithkeys&format=json&q=select%20symbol,%20Ask,%20Bid%20from%20yahoo.finance.quotes%20where%20symbol%20in%20()
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Yql-Host:
      - engine1.yql.ird.yahoo.com
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"error":{"lang":"en-US","description":"Query syntax error(s) [line
        1:63 mismatched input ''in'' expecting ISNOTNULL]"}}'
  recorded_at: Wed, 20 Jun 2012 14:55:26 GMT
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?env=store://datatables.org/alltableswithkeys&format=json&q=select%20symbol,%20Ask,%20Bid%20from%20yahoo.finance.quotes%20where%20symbol%20in%20(2)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yql-Host:
      - engine4.yql.ird.yahoo.com
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"query":{"count":1,"created":"2012-06-20T15:15:12Z","lang":"en-US","results":{"quote":{"symbol":"2","Bid":null,"Ask":null}}}}'
  recorded_at: Wed, 20 Jun 2012 15:15:12 GMT
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?env=store://datatables.org/alltableswithkeys&format=json&q=select%20symbol,%20Ask,%20Bid%20from%20yahoo.finance.quotes%20where%20symbol%20in%20(%5B%22BP.L,%20%22,%20%22BLT.L,%20%22%5D)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Yql-Host:
      - engine3.yql.ird.yahoo.com
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"error":{"lang":"en-US","description":"Query syntax error(s) [line
        1:67 no viable alternative at character ''['',line 1:87 no viable alternative
        at character '']'']"}}'
  recorded_at: Wed, 20 Jun 2012 15:18:36 GMT
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?env=store://datatables.org/alltableswithkeys&format=json&q=select%20symbol,%20Ask,%20Bid%20from%20yahoo.finance.quotes%20where%20symbol%20in%20(%5B%22BP.L,%22,%20%22BLT.L,%22%5D)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Yql-Host:
      - engine5.yql.ird.yahoo.com
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"error":{"lang":"en-US","description":"Query syntax error(s) [line
        1:67 no viable alternative at character ''['',line 1:85 no viable alternative
        at character '']'']"}}'
  recorded_at: Wed, 20 Jun 2012 15:20:18 GMT
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?env=store://datatables.org/alltableswithkeys&format=json&q=select%20symbol,%20Ask,%20Bid%20from%20yahoo.finance.quotes%20where%20symbol%20in%20(%22BP.L%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yql-Host:
      - engine2.yql.ird.yahoo.com
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"query":{"count":1,"created":"2012-06-20T15:21:07Z","lang":"en-US","results":{"quote":{"symbol":"BP.L","Bid":"424.30","Ask":"424.40"}}}}'
  recorded_at: Wed, 20 Jun 2012 15:21:07 GMT
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?env=store://datatables.org/alltableswithkeys&format=json&q=select%20symbol,%20Ask,%20Bid%20from%20yahoo.finance.quotes%20where%20symbol%20in%20(BP.L,BLT.L)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Yql-Host:
      - engine5.yql.ird.yahoo.com
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"error":{"lang":"en-US","description":"Query syntax error(s) [line
        1:63 mismatched input ''in'' expecting ISNOTNULL]"}}'
  recorded_at: Wed, 20 Jun 2012 15:24:00 GMT
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?env=store://datatables.org/alltableswithkeys&format=json&q=select%20symbol,%20Ask,%20Bid%20from%20yahoo.finance.quotes%20where%20symbol%20in%20(%5C%22BP.L%22,%20%22BLT.L%5C%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Yql-Host:
      - engine4.yql.ch1.yahoo.com
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"error":{"lang":"en-US","description":"Query syntax error(s) [line
        1:67 no viable alternative at character ''\\'',line 1:85 mismatched character
        ''<EOF>'' expecting ''\"'']"}}'
  recorded_at: Wed, 20 Jun 2012 15:26:17 GMT
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?env=store://datatables.org/alltableswithkeys&format=json&q=select%20symbol,%20Ask,%20Bid%20from%20yahoo.finance.quotes%20where%20symbol%20in%20(%22BP.L%22,%20%22BLT.L%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yql-Host:
      - engine5.yql.ird.yahoo.com
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"query":{"count":2,"created":"2012-06-20T15:32:37Z","lang":"en-US","results":{"quote":[{"symbol":"BP.L","Bid":"424.40","Ask":"424.65"},{"symbol":"BLT.L","Bid":"1876.00","Ask":"1874.5001"}]}}}'
  recorded_at: Wed, 20 Jun 2012 15:32:37 GMT
recorded_with: VCR 2.2.2
