---
http_interactions:
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?env=store://datatables.org/alltableswithkeys&format=json&q=select%20symbol,%20Ask,%20Bid%20from%20yahoo.finance.quotes%20where%20symbol%20in%20(%5C%22BP.L%5C%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Yql-Host:
      - engine4.yql.ird.yahoo.com
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"error":{"lang":"en-US","description":"Query syntax error(s) [line
        1:67 no viable alternative at character ''\\'',line 1:76 mismatched character
        ''<EOF>'' expecting ''\"'']"}}'
  recorded_at: Wed, 20 Jun 2012 15:28:50 GMT
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?env=store://datatables.org/alltableswithkeys&format=json&q=select%20symbol,%20Ask,%20Bid%20from%20yahoo.finance.quotes%20where%20symbol%20in%20(%22BP.L%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yql-Host:
      - engine2.yql.ird.yahoo.com
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"query":{"count":1,"created":"2012-06-20T15:32:36Z","lang":"en-US","results":{"quote":{"symbol":"BP.L","Bid":"424.40","Ask":"424.65"}}}}'
  recorded_at: Wed, 20 Jun 2012 15:32:36 GMT
recorded_with: VCR 2.2.2
