---
http_interactions:
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?env=store://datatables.org/alltableswithkeys&format=json&q=select%20symbol,%20Ask,%20Bid%20from%20yahoo.finance.quotes%20where%20symbol%20in%20(%22BP.L%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yql-Host:
      - engine3.yql.ird.yahoo.com
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"query":{"count":1,"created":"2012-06-19T18:05:16Z","lang":"en-US","results":{"quote":{"symbol":"BP.L","Bid":"426.85","Ask":"426.95"}}}}'
  recorded_at: Tue, 19 Jun 2012 18:05:15 GMT
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?env=store://datatables.org/alltableswithkeys&format=json&q=select%20symbol,%20Ask,%20Bid%20from%20yahoo.finance.quotes%20where%20symbol%20in%20(%22BP.L%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yql-Host:
      - engine1.yql.ird.yahoo.com
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"query":{"count":1,"created":"2012-06-19T18:05:16Z","lang":"en-US","results":{"quote":{"symbol":"BP.L","Bid":"426.85","Ask":"426.95"}}}}'
  recorded_at: Tue, 19 Jun 2012 18:05:16 GMT
recorded_with: VCR 2.2.2
