---
http_interactions:
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?env=store://datatables.org/alltableswithkeys&format=json&q=select%20symbol,%20Ask,%20Bid%20from%20yahoo.finance.quotes%20where%20symbol%20in%20(%22BP.L%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yql-Host:
      - engine5.yql.ird.yahoo.com
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"query":{"count":1,"created":"2012-06-20T12:30:21Z","lang":"en-US","results":{"quote":{"symbol":"BP.L","Bid":"425.25","Ask":"425.30"}}}}'
  recorded_at: Wed, 20 Jun 2012 12:30:21 GMT
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?env=store%253A%252F%252Fdatatables.org%252Falltableswithkeys&format=json&q=select%20symbol,%20Ask,%20Bid%20from%20yahoo.finance.quotes%20where%20symbol%20in%20(%22BP.L%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Yql-Host:
      - engine3.yql.ird.yahoo.com
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"error":{"lang":"en-US","description":"Internal Error For input
        string: \"//datatables.org/alltableswithkeys\""}}'
  recorded_at: Wed, 20 Jun 2012 14:40:26 GMT
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?env=store://datatables.org,Falltableswithkeys&format=json&q=select%20symbol,%20Ask,%20Bid%20from%20yahoo.finance.quotes%20where%20symbol%20in%20(%22BP.L%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Yql-Host:
      - engine3.yql.ird.yahoo.com
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"error":{"lang":"en-US","description":"No definition found for Table
        yahoo.finance.quotes"}}'
  recorded_at: Wed, 20 Jun 2012 14:43:23 GMT
recorded_with: VCR 2.2.2
