---
http_interactions:
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?env=store://datatables.org/alltableswithkeys&format=json&q=select%20symbol,%20Ask,%20Bid%20from%20yahoo.finance.quotes%20where%20symbol%20in%20(%22BP.L%22,%20%22GSK.L%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yql-Host:
      - engine3.yql.bf1.yahoo.com
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"query":{"count":2,"created":"2012-08-13T12:16:43Z","lang":"en-US","results":{"quote":[{"symbol":"BP.L","Bid":"448.15","Ask":"448.25"},{"symbol":"GSK.L","Bid":"1481.50","Ask":"1482.00"}]}}}'
  recorded_at: Mon, 13 Aug 2012 12:16:43 GMT
recorded_with: VCR 2.2.2
